section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.novedades-swiper {
  padding: 3px;
}

section .card .image {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding: 3px;
  background: #807296;
}

section .card .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}

.card {
  position: relative;
  border-radius: 20px;
  width: 280px;
  border: 1px solid black;
}

.card::before {
  content: "";
  position: absolute;
  height: 40%;
  width: 100%;
  background: #807296;
  border-radius: 20px 20px 0 0;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
  z-index: 100;
}

.card .info-novedades {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

.card .info-novedades p{
  font-size: 14px;
}

.card .turnos-novedades {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
}
