#identificador {
  margin-top: 12rem;
}

#identificador ol a {
  text-decoration: none;
  color: gray;
  padding: 0px;
  font-family: "Josefin Sans", sans-serif;
}

#ultimo {
  color: black;
  font-family: "Josefin Sans", sans-serif;
}

#-texto-filtrar {
  font-family: "Josefin Sans", sans-serif;
}

.form-select {
  width: 150px;
  height: 35px;
  margin: 2rem 1rem 2rem 0px;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  float: left;
  outline: none;
}

.form-select:focus {
  border-color: #807296;
  box-shadow: 0 0 0 0.25rem rgb(128 114 150 / 25%);
}

#cardService {
  box-shadow: #343434;
  text-align: center;
  color: black;
  font-family: "Montserrat", sans-serif;
  padding: 1rem;
}

/* Cards product and service */

.item-rounded {
  min-height: 388px;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0 4px 4px 0 rgba(128 114 150), 0 4px 4px 0 rgba(128 114 149);
}

.item-rounded:hover {
  box-shadow: 0 6px 10px 0 rgba(128 114 150), 0 6px 20px 0 rgba(128 114 149);
}

.item-rounded h4 {
  font-size: 13px;
  margin: 1px;
}

.item-rounded h6 {
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}

.item-rounded h5 {
  margin: 5px;
  font-size: 12px;
}

.item-rounded img {
  width: 100%;
  height: auto;
  border-radius: 20px 20px 0 0;
  border-bottom: 4px solid #343434;
  cursor: pointer;
}

.item-rounded .image img:hover {
  opacity: 0.7;
}

/* PRODUCTOS */

.content-all-products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* SUB RUBRO */
#makeup,
#dermocosmetica {
  display: none;
  background: rgba(128 114 150);
  color: white;
}

@media screen and (max-width: 720px) {
  .item-rounded {
    min-height: 100%;
    width: fit-content;
    object-fit: contain;
    word-wrap: break-word;
  }

  #cardService {
    padding: 10px;
  }

  .form-select{
    width: 108px;
  }
}

#productosInicio .card {
  padding: 15px;
}
