.content-products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-product {
  position: relative;
  text-align: -webkit-center;
  padding: 10px;
}

.card-product-content:hover {
  box-shadow: 0 6px 10px 0 rgba(128 114 150), 0 6px 20px 0 rgba(128 114 149);
}

.card-product .card-product-content {
  width: 200px;
  height: auto;
  border: 1px solid black;
  border-radius: 20px;
}

.card-product .card-image {
  height: 100px;
  width: 100px;
  padding: 3px;
}

.card-product img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-product .card-product-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  border-top: 3px solid black;
}

.card-product .card-stock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
}

/* PRODUCTOS Y SERVICIOS INICIO */

.info-novedades h4 {
  font-size: 14px;
  margin: 1px;
}

.info-novedades h6 {
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

.info-novedades h5 {
  margin: 5px;
  font-size: 13px;
}

/* PRODUCTOS FILTRAR */
#productsBuy {
  list-style: none;
  font-size: 12px;
}

#productsBuy img {
  width: 32px;
  padding: 3px;
  border: 0;
}

#productsBuy a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: bold;
}
