/* Estilos de Nosotras */
#header {
  background-color: #807296;
  color: whitesmoke;
  font-family: "Josefin Sans", sans-serif;
}

#textoNosotras {
  margin-top: 13rem;
  text-align: center;
  font: 50px;
  color: black;
  font-family: "Josefin Sans", sans-serif;
}

#header li {
  padding: 0px;
  list-style: none;
}

#cardNos {
  padding: 30px;
  height: 70%;
}

#cardNos .card {
  border: 1px solid black;
  border-radius: 20px;
  flex-direction: column;
  display: flex;
  overflow: hidden;
}

#cardNos .card:hover {
  box-shadow: 0 6px 10px 0 rgba(128 114 150), 0 6px 20px 0 rgba(128 114 149);
}

#cardNos .card .card-title .carousel-item img {
  border-radius: 20px 20px 0px 0px;
  border-bottom: 5px solid black;
}

#cardNos .card-image img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  z-index: -1;
}

#cardNos .card::before {
  content: "";
  position: absolute;
  height: 200px;
  width: 100%;
  background-size: 50vh;
  background-position: center;
  background-image: url("../img/logoMagnolia.png");
  border-radius: 20px 20px 0 0;
}

#cardNos .card-profile img {
  width: 200px;
  height: 200px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  border: 3px solid white;
  border-radius: 50%;
}

/* ICONOS */

.media-icons {
  text-align: center;
}

.media-icons img {
  width: 26px;
  padding: 3px;
  margin-top: 5px;
  opacity: 0.6;
}

.media-icons img:hover {
  opacity: 1;
}

/* ESTILO DE LETRAS */
#name {
  font-family: "Josefin Sans", sans-serif;
}

#info {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
}

.masInfo {
  display: none;
}
